[Unit]
Description=checking initial boot

[Service]
Type=oneshot
ExecStart=/home/logatec/CaptiveWiFi/initial.sh

[Install]
WantedBy=multi-user.target
