[Unit]
Description=service for headless configuration
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/lib/raspiwifi/reset_device/static_files/aphost_bootstrapper
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
